
.social-icon {display: inline-block; margin: 0 10px}

.polaroid {
    height: auto;
    width: 40%;
    background-color: 
white;
    border-radius: 25px;
    box-shadow: 2px 4px 8px 3px 
Gainsboro;
}

